{% load static %}
<div class="sidebar" style="background-color: #789461;">
    <nav class="sidebar-nav">
        <ul class="nav ">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="icon-speedometer text-light"></i> Dashboard</a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-user text-light"></i> Student</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'student_list' %}">
                            <i class="nav-icon icon-list text-light"></i> Student List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'student_regi' %}">
                            <i class="nav-icon icon-plus text-light"></i> Registration</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-user text-light"></i> Instructors</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'teacher_list' %}">
                            <i class="nav-icon icon-list text-light"></i> Instructors List</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

    {% block sidebar %}
    {% endblock %}
</div>

